*{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  min-width: 40rem;
  max-width: 80rem;
  margin: auto;
}
.container .cell {
  padding: 0 20px;
  min-height: 40px;
  line-height: 40px;
  border: 1px solid #2b2b2b;
  background-color: #c7c7c7;
  flex: 1;
}

.cell.title {
  text-align: center;
  font-weight: bold;
}

.container .row {
  display: flex;
  justify-content: space-around;
}

.scroll {
  width: 100%;
  overflow: auto;
}

.cell a:first-of-type {
  margin-right: 1rem;
}

.filter {
  justify-content: center;
  margin-bottom: 2rem;
  display: flex;
}

.filter-item {
  margin-right: 1rem;
}

label.filter-item{
  margin-right: .5rem;
}

.btn.filter-item {
  cursor: pointer;
  border: 1px solid black;
}

.modal {
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  width: 100%;
  height: 100%;

}

.modal.hidden{
  display: none;
}

.modal-content{
  background-color: white;
  width: fit-content;
  padding: 2rem;
  margin: 5rem auto 0;
}

.modal-content .modal-item {
  margin-bottom: 1rem;
}

.modal-content .modal-form .modal-item {
  display: flex;
  justify-content: space-between;
}

.modal-content .modal-form .modal-item label {
  margin-right: .5rem;
}

.modal-content .modal-form .modal-item.select {
  justify-content: flex-start;
}